<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<connectionStrings>
		<add name="kata" providerName="System.Data.SqlClient" connectionString="Server=tcp:dyslh9l2uv.database.windows.net,1433;Database=kata;User ID=pdemo@dyslh9l2uv;Password=$#@!Ftmfw;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>